
.VjtiPedia >img{
    max-width:100%;
    height:auto;
    width: 100%;
    opacity: 0.3;
}
.VjtiPedia > p {
    color:rgb(24, 46, 32);
    display : flex;
    text-align: center;
    font-size :1.7rem;
    position:absolute;
    top: 40%;

}
form{
    
    color:rgb(24, 46, 32);
    position: absolute;
    top: 30%;
    left: 47%;
    transform: translate(-50%, -50%);  
    text-indent: 2px;
    
    

    
}
input[type = text]{
    background-color:whitesmoke;
    color: #740808;
    margin-right: 4px;
    margin-left: 8px;
    
}
input[type = submit]{
    margin-left: 4px;
    border-radius: 10%;
}
.VjtiPedia>h1{
    position:absolute;
    top:15%;
    left: 45%;
    color: rgb(110, 6, 6); 
}